<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bildvisaren.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Bildvisaren.Properties.Settings>
            <setting name="resize_mousewell" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="black_back" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fit_w_screen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fit_h_screen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="scroll_factor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="image_move_invert" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="rand_order_image" serializeAs="String">
                <value>False</value>
            </setting>
        </Bildvisaren.Properties.Settings>
    </userSettings>
</configuration>